<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.weli.svideo">

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- linkedme权限 start-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- linkedme权限 end-->

    <application
        android:name=".WlVideoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup, android:supportsRtl">

        <!--activity-->
        <activity
            android:name=".module.main.ui.SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="wlvideo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.main.ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".push.ThirdPushActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".module.main.ui.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.mine.ui.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.mine.ui.SettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.video.ui.VideoDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.task.ui.WithdrawActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.task.ui.AccountPayBindActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.mine.ui.MsgActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.mine.ui.MineProfitActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.mine.ui.AboutAppActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.mine.ui.UserInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.mine.ui.PermissionSettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.task.ui.RewardVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".advert.download.DialogActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".module.linkedme.MiddleActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101827393" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".module.linkedme.UriSchemeProcessActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">

            <!-- URI Scheme方式 在dashboard配置中,请保持与ios的URI Scheme相同 -->
            <!--
            如果程序已存在与此完全相同的data配置,即只包含scheme并且值完全相同,
            则需要考虑发起的intent会出现相同应用图标的选择对话框的情况
            -->
            <intent-filter>
                <data
                    android:host="linkedme"
                    android:scheme="wlvideo" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- APP Links方式,Android 23版本及以后支持 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lkme.cc"
                    android:pathPrefix="/3nD"
                    android:scheme="https" />
                <data
                    android:host="lkme.cc"
                    android:pathPrefix="/3nD"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <!--**************************************GETUI**************************************** -->
        <service
            android:name=".push.WlVideoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <service
            android:name=".push.WlVideoIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--**************************************GETUI**************************************** -->

        <!--**************************************GAODE**************************************** -->
        <service android:name="com.amap.api.location.APSService" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${GAO_DE_APP_KEY}" />
        <!--**************************************GAODE**************************************** -->

        <!--**************************************UMENG**************************************** -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UM_APP_ID}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_NAME}" />
        <!--**************************************UMENG**************************************** -->

        <!--**************************************SERVICE**************************************** -->
        <service android:name=".advert.download.DownloadMarketService" />
        <!--**************************************SERVICE**************************************** -->

        <!--**************************************RECEIVER**************************************** -->
        <receiver
            android:name=".advert.download.DownLoadMarketReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!--**************************************RECEIVER**************************************** -->

        <!--**************************************PROVIDER**************************************** -->
        <!--今日头条广告start-->
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/tt_file_paths" />
        </provider>
        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />
        <!--今日头条广告end-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>
        <!--**************************************PROVIDER**************************************** -->

        <!--**************************************BAIDU**************************************** -->
        <activity android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <provider
            android:name="com.baidu.mobads.openad.FileProvider"
            android:authorities="${applicationId}.bd.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="${BAIDU_APP_ID}" />
        <!--**************************************BAIDU**************************************** -->

        <!--**************************************Gdt**************************************** -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.qq.e.ads.PortraitADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qq.e.ads.LandscapeADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <meta-data
            android:name="GDT_APP_ID"
            android:value="${GDT_APP_ID}" />
        <!--**************************************Gdt**************************************** -->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="APP_KEY"
            android:value="${APP_KEY}" />
        <meta-data
            android:name="APP_SECRET"
            android:value="${APP_SECRET}" />
        <meta-data
            android:name="WX_APP_ID"
            android:value="${WX_APP_ID}" />
        <meta-data
            android:name="WX_APP_SECRET"
            android:value="${WX_APP_SECRET}" />
        <meta-data
            android:name="QQ_APP_ID"
            android:value="${QQ_APP_ID}" />
        <meta-data
            android:name="QQ_APP_KEY"
            android:value="${QQ_APP_KEY}" />
        <meta-data
            android:name="UCLOUCD_APP_KEY"
            android:value="${UCLOUCD_APP_KEY}" />
        <meta-data
            android:name="LINKEDME_KEY"
            android:value="${LINKEDME_KEY}" />
        <meta-data
            android:name="APPID"
            android:value="${APP_KEY}" />
        <meta-data
            android:name="PUBLISHER"
            android:value="wlvideo" />
        <meta-data
            android:name="USER_PRIVACY"
            android:value="${USER_PRIVACY}" />

        <!--适配全面屏（比较长的屏幕）-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />

        <meta-data
            android:name="android.min_aspect"
            android:value="1.0" />
    </application>

</manifest>